<h1>JF CRM</h1>
<div id="root"></div>

<link rel="stylesheet" href="css/home.min.css">

<script src="js/components/app.js" type="text/javascript"></script>
<script src="js/index.js" type="text/javascript"></script>